p {
  font-size: 14px;
}

.profilePost {
  width: 300px;
  height: 300px;
}

.profilePost__image {
  width: 100%;
  height: 100%;
}

.gridImage {
  width: 100%;
}

.profilePost__section {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profilePost__section > div > hr {
  border: none;
  height: 1px;
  background-color: #e6e6e6;
  margin-top: 10px;
  margin-bottom: 15px;
}

.profilePost__header {
  display: flex;
  justify-content: space-between;
}

.profilePost__avatar {
  display: flex;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profilePost__usernameLocation > p {
  margin: 0;
}

.profilePost__location {
  color: #403f3f;
  font-size: 12px;
}

.profilePost__username {
  font-size: 14px;
}

.profilePost__captionComments {
  padding-left: 10px;
  padding-right: 10px;
}

.profilePost__avatarUsername,
.profilePost__userComment {
  display: flex;
  align-items: center;
}

.captionText {
  word-break: break-word;
  white-space: normal;
}

.profilePost__addComment {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e6e6e6;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.profilePost__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e6e6e6;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  margin-top: 0;
}

.profilePost__likeCommentSend > img {
  padding-right: 15px;
}

.profilePost__likeCommentSend > img:hover {
  cursor: pointer;
}

.profilePost__likeCount {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.profilePost__editCaption {
  display: flex;
  align-items: center;
}
