
.post__header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.post__avatar {
    display: flex;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post__usernameLocation > p{
    margin:0;
}

.post__location {
    color:#403f3f;
    font-size: 12px;
}

.post__username {
    font-size: 14px;
}

.post__image{ 
    width: 100%;
    height: auto;
    /* object-fit: contain; */

}

.post__controls {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}


.post__captionComments {
    padding-left: 15px;
    padding-right: 15px;
 
}

.post__captionText {
    font-size: 14px;
}

hr {
    border: none;
    height: 1px;   
    background-color: lightgray;
    margin-top: 20px;
}

.post__inputText:focus {
    outline: none;
}
.post__inputText {
    border-bottom: none;
    width: 100%;
}

.post__addComment {
    display: flex;
    justify-content: space-between;
}

.post__likeCount {
   margin-top: -5px;
   margin-left: 15px;
   font-size: 14px;
}

.post__viewCommentsText {
    color: gray;
    font-size: 14px;

}

.post__viewCommentsText:hover {
    cursor: pointer;
    opacity: 0.7;
}