
.profile {
    padding-left: 15px;
    padding-right: 15px;
}

.profile__uploadImage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile__uploadedImage {
    width: 100%;
    object-fit: contain;
    margin: 20px;
}

.profile__createPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;

}

.profile__info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

}


.profile__userDetails {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.profile__userFollowersCount {
    display: flex;
    justify-content: space-between;
    margin-top: 0;

}

.profile__userFollowersCount > p {
    margin-right: 30px;
}


.profile__username{
    font-weight: bold;
    margin-bottom: 8px;
}
.profile__userBio {
    margin-top: 0;
}

.line {
    border: 1px solid lightgray;
}

.profile__postSectionNav {
    display: flex;
    justify-content: center;
}

.profile__postSectionNav > p{ 
    margin: 30px;
    margin-top: 10px;
}

.profile__postSectionNav > p:hover{
    cursor: pointer;
    opacity: .6;

}
.profile__userPostsSection {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    justify-content: center;
}

.profile__userPosts {
    padding: 10px;
}


.profile__images {
    max-width: 100%;
    height: auto;
}

.profile__gridLayout {
   display: flex;
   justify-content: center;
}

.profile__grid {
    width: 250px;

}

.divv {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}